{% extends 'back/master.html' %}

{% load static %}

{% block headblock %}
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"> -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script> -->
<!-- <script src="//cdn.ckeditor.com/4.14.0/full/ckeditor.js"></script> -->
<!-- <script src="https://cdn.ckeditor.com/ckeditor5/18.0.0/classic/ckeditor.js"></script> -->
<!-- <script src="https://cdn.ckeditor.com/4.4.5.1/full-all/ckeditor.js"></script> -->
{% endblock %}

{% block mainblock %}
<!-- Datatables Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-table"></i>Group's Permissions<br><small>You can manage permissions of group.</small>
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li>Panel</li>
    <li><a href="/panel/group">Groups</a></li>
    <li>Permissions</li>
</ul>

<!-- add group -->
<div class="row">
    <div class="col-md-12">
        <!-- Basic Form Elements Block -->
        <div class="block">
            <!-- Basic Form Elements Title -->
            <div class="block-title">
                <h2><strong>Permission</strong> Add</h2>
            </div>
            <!-- END Form Elements Title -->
 
            <!-- Basic Form Elements Content -->
            <form action="{% url 'group_permission_add' name=name %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
               {% csrf_token %}
                <div class="form-group">
                    <div class="col-md-6">
                        <select name="permission_name" id="permission_name" class="select-chosen" placeholder="Assign Group To Manager">
                            <option></option>
                            {% for i in distinct_perms %}
                                <option value="{{i.name}}">{{i.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
                    </div>
                </div>

                <!-- <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
                    </div>
                </div> -->

            </form>
            <!-- END Basic Form Elements Content -->
        </div>
        <!-- END Basic Form Elements Block -->
    </div>
</div>

<!-- show group list -->
<div class="row">
    <div class="col-md-12">
        <!-- Basic Form Elements Block -->
           
        <div class="block full">
            <div class="block-title">
                <h2><strong>Group</strong> List</h2>
            </div>
        
            <div class="table-responsive">
                <!-- <input type="text" name="" id="myInput" placeholder="search here"> -->
                <table id="datatable" class="table table-vcenter table-condensed table-bordered">
                    <thead>
                        <tr>

                            <th class="text-center">Name</th>
                            <th class="text-center">Actions</th>

                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for i in perms %}                  
                            <tr>
                                <td class="text-center">{{i.name}}</td>

                                <td class="text-center">
                                    <div class="btn-group">
                                        <a href="{% url 'group_permission_delete' gname=name name=i.name %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Delete</i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>  
                </table>
                
            </div>
        </div>

    </div>
</div>


{% endblock %}

{% block footerblock %}

    <script>
        $(document).ready(function() {
        $('#datatable').DataTable();
    } );
    </script>

    <!-- Load and execute javascript code used only in this page -->
    <!-- <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
    <script>$(function(){ TablesDatatables.init(); });</script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script> -->
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
{% endblock %}