{% load static %}


<!DOCTYPE html>

<html lang=en>
    <head>
        <title>Quora - A place to share knowledge and better understand the world</title>
        <meta name='robots' content='noarchive' />
        <link rel='icon' href='' />
        <link rel="stylesheet" href="{% static 'front/css/style3.css' %}">
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
        
        
        <!-- <style type="text/css" data-idx="1" class="q-inline-css">            
        </style> -->

        
        <!-- <style type="text/css" data-idx="2" class="q-inline-css">
        </style> -->

    </head>

    <body class='web_page logged_out lang_en q_ltr logged_out_page_big_signup'>
        
        <div id='__w2_modal_container_'>
            <div class='modal_overlay hidden' id='__w2_modal_overlay_'>
                <div class='modal_wrapper normal' id='__w2_modal_wrapper_'>
                </div>
            </div>
        </div>
        
        <div id='react_loadable'>
            <div class='hidden'>
            </div>
        </div>
        
        <!-- <script type="text/javascript">
            window.ansFrontendGlobals = window.ansFrontendGlobals || {};
            window.ansFrontendGlobals.data = window.ansFrontendGlobals.data || {};
            window.ansFrontendGlobals.data.inlineQueryResults = window.ansFrontendGlobals.data.inlineQueryResults || {};
            window.ansFrontendGlobals.data.inlineQueryResults.results = {'6c91756042df51ec44f2af3fb10a6b69d1394150560dbcab9511a7bebd2b4324': '{"data":{"viewer":{"id":"Vmlld2VyQDA6MA==","__typename":"Viewer","user":null,"tribeWallInfo":null,"repeatOffenders":null},"network":{"id":"TmV0d29yazow","__typename":"Network","quoraPolicyLinkUrl":"https://www.quora.com/What-are-the-major-policies-and-guidelines-on-Quora","editBlockLinkUrl":"https://www.quora.com/What-does-it-mean-to-be-edit-blocked-or-banned-on-Quora/answer/Quora"},"nux":null,"activationWall":null,"followTribeWallDeck":null}}'};
            window.ansFrontendGlobals.data.inlineQueryResults.next && window.ansFrontendGlobals.data.inlineQueryResults.next();
        </script> -->

        <script type="text/javascript">
            window.inlineReact('react_loadable',{"data":{"viewer":{"id":"Vmlld2VyQDA6MA==","__typename":"Viewer","user":null,"tribeWallInfo":null,"repeatOffenders":null},"network":{"id":"TmV0d29yazow","__typename":"Network","quoraPolicyLinkUrl":"https://www.quora.com/What-are-the-major-policies-and-guidelines-on-Quora","editBlockLinkUrl":"https://www.quora.com/What-does-it-mean-to-be-edit-blocked-or-banned-on-Quora/answer/Quora"},"nux":null,"activationWall":null,"followTribeWallDeck":null}},{},null);
        </script><div class='ContentWrapper'>
            
        <div id='__w2_wHUAq3k59_content'>
            <div class='bg_container'>
                <div class='bg_image'>
                    <img src="{% static 'front/img/bgimage.png' %}" alt="">
                </div>
            </div>
            <div class='HomePageSignupForm BaseSignupForm continue_with_text'>
                <!-----------------------Network Logo --------------------------->
                <div class='NetworkLogo' >
                    <a href='index.html'>
                        <img src="{% static 'front/img/quoralogo2.png' %}" alt=""  style="height: 190px; width: 200px; margin-top: -50px;">
                    </a>
                </div>

                <h2 class='NetworkLogoTagline tagline'>A place to share knowledge and better understand the world<h2>
                
                <div class='container' id='__w2_wHUAq3k510_actionable'>
                    <div class='content_inner'>
                        <div class='signup_login'>
                            <div class='signup'>
                                <div id='__w2_wHUAq3k510_initial_signup_column'>
                                    <div class='connect_buttons_row'>

                                        <!-- Sign in with google button -->
                                        <div>
                                            <span data-clog-trigger='impression' data-clog-metadata='{&quot;action_log_target&quot;: {&quot;type&quot;: 43, &quot;hash&quot;: &quot;googleConnectButton|hCqYDPvsJBGH-i9StitvTA==_1592630125820242&quot;}}' data-clog-event-type='ActionLogImpression' id='__w2_wHUAq3k516_actionable'>
                                                
                                                <a class='google_button submit_button' href='#' tabindex='5' action_mousedown='SignupGoogleClick' action_stop_propagation='True' id='__w2_wHUAq3k516_google_connect_button'>
                                                    <span class='google_button_text'>Continue with Google</span>
                                                </a>
                                            </span>
                                        </div>

                                        <!-- Sign in with facebook -->
                                        <div>
                                            <span data-clog-trigger='impression' data-clog-metadata='{&quot;action_log_target&quot;: {&quot;type&quot;: 43, &quot;hash&quot;: &quot;facebookConnectButton|hCqYDPvsJBGH-i9StitvTA==_1592630125820242&quot;}}' data-clog-event-type='ActionLogImpression' id='__w2_wHUAq3k517_actionable'>
                                                
                                                <a class='facebook_button submit_button' href='#' tabindex='6' action_mousedown='SignupFacebookClick' action_stop_propagation='True' id='__w2_wHUAq3k517_facebook_connect_button'>
                                                    
                                                    <span class='facebook_button_text'>Continue with Facebook    
                                                    </span>
                                                </a>
                                            </span>
                                            
                                        </div>
                                    </div>

                                    <div id='__w2_wHUAq3k510_connect_explanation'>
                                        <a class='signup_email_link' href='#' tabindex='9' id='__w2_wHUAq3k510_continue_with_email'>
                                            Sign Up With Email
                                        </a>
                                        <span class='tos_disclaimer'>. 
                                            <span class='light_gray TosDisclaimer'>
                                                By signing up you indicate that you have read and agree to Quora&#039;s 
                                                <a class='tos_link' href='about/tos.html' nav_style='modal_present' target='_blank' rel='noopener'>
                                                    Terms of Service
                                                </a> 
                                                and 
                                                <a class='tos_link' href='about/privacy.html' nav_style='modal_present' target='_blank' rel='noopener'>
                                                    Privacy Policy
                                                </a>.
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <!--------------- Sign Up Page ----------------------------------------->
                                <!-- <div class='hidden' id='__w2_wHUAq3k510_toggled_signup_column'>
                                    <h2>Sign Up</h2>
                                    <form method='post' id='__w2_wHUAq3k510_home_page_email_signup_form'>
                                        <div class='w2_5'>
                                            <div class='row'>
                                                <div class='EmailSignupForm'>
                                                    <div class='stacked_form e_col p1' 
                                                    id='__w2_wHUAq3k514_email_signup_form'>
                                                        <div class='first_last_group'>
                                                            <div class='form_row half'>
                                                                <label>First Name</label>
                                                                <div class='input_wrapper'>
                                                                    <input class='text' type='text' name='first_name' autocapitalize='words' autocorrect='off' value='' tabindex='10' data-group='js-editable' w2cid='wHUAq3k514' id='__w2_wHUAq3k514_first_name' />
                                                                    
                                                                </div>
                                                                <div id='__w2_wHUAq3k524_validator'>
                                                                    <div class='hidden invalid input_validation_error_text' id='__w2_wHUAq3k524_invalid_message'>
                                                                    </div>
                                                                    <span class='hidden input_valid valid input_status'>
                                                                    </span>
                                                                    <span class='hidden input_invalid invalid input_status'>
                                                                    </span>
                                                                    <div class='hidden'>Checking...
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class='form_row half last_name'>
                                                                <label>Last Name</label>
                                                                <div class='input_wrapper'>
                                                                    <input class='text' type='text' name='last_name' autocapitalize='words' autocorrect='off' value='' tabindex='10' data-group='js-editable' w2cid='wHUAq3k514' id='__w2_wHUAq3k514_last_name' />
                                                                </div>
                                                                <div id='__w2_wHUAq3k525_validator'>
                                                                    <div class='hidden invalid input_validation_error_text' id='__w2_wHUAq3k525_invalid_message'>
                                                                    </div>
                                                                    <span class='hidden input_valid valid input_status'>                                  </span>
                                                                    <span class='hidden input_invalid invalid input_status'>                                   </span>
                                                                    <div class='hidden'>Checking...                 </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class='form_row'>
                                                            <label>Email</label>
                                                            <div class='input_wrapper'>
                                                                <input class='text' type='text' name='email' tabindex='11' data-group='js-editable' w2cid='wHUAq3k514' id='__w2_wHUAq3k514_email' />    
                                                            </div>
                                                            <div id='__w2_wHUAq3k526_validator'>
                                                                <div class='hidden invalid input_validation_error_text' id='__w2_wHUAq3k526_invalid_message'>                </div>
                                                                <span class='hidden input_valid valid input_status'>                                       </span>
                                                                <span class='hidden input_invalid invalid input_status'>                                       </span>
                                                                <div class='hidden'>Checking...                     </div>
                                                            </div>
                                                        </div>
                                                        <div class='form_row'>
                                                            <label>Password</label>
                                                            <div class='input_wrapper'>
                                                                <input class='text' type='password' name='password' tabindex='12' data-group='js-editable' w2cid='wHUAq3k514' id='__w2_wHUAq3k514_password' />
                                                            </div>
                                                            <div id='__w2_wHUAq3k527_validator'>
                                                                <div class='hidden invalid input_validation_error_text' id='__w2_wHUAq3k527_invalid_message'>                
                                                            </div>
                                                            <span class='hidden input_valid valid input_status'>
                                                            </span>
                                                            <span class='hidden input_invalid invalid input_status'>
                                                            </span>
                                                            <div class='hidden'>Checking...
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class='form_row'>
                                                        <div class='captcha_container'>
                                                            <div class='CaptchaInput'>
                                                                <div class='hidden' id='__w2_wHUAq3k529_captcha_loading'>
                                                                    <div class='LoadingDots regular'>
                                                                        <div class='dot first'>
                                                                        </div>
                                                                        <div class='dot second'>
                                                                        </div><div class='dot third'>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id='__w2_wHUAq3k529_captcha_area'>
                                                                <div id='__w2_wHUAq3k529_captcha'>
                                                                </div>
                                                            </div>
                                                            <span id='__w2_wHUAq3k529_captcha_validation_text'>     </span>
                                                        </div>
                                                    </div>
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class='row small'>
                                                <span class='light_gray TosDisclaimer'>
                                                    By clicking &quot;Sign Up&quot; you indicate that you have read and agree to Quora&#039;s 
                                                    <a class='tos_link' href='about/tos.html' nav_style='modal_present' target='_blank' rel='noopener'>
                                                        Terms of Service
                                                    </a>
                                                        and 
                                                    <a class='tos_link' href='about/privacy.html' nav_style='modal_present' target='_blank' rel='noopener'>
                                                        Privacy Policy
                                                    </a>.
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='hidden input_validation_error_text' id='__w2_wHUAq3k510_email_password_leak_error'>
                                        </div>
                                        <div class='row'>
                                    <div class='form_buttons' id='__w2_wHUAq3k510_create_account'>
                                        <span class='light'>
                                            <a class='cancel' href='#' id='__w2_wHUAq3k510_cancel'>Cancel
                                            </a>
                                            <input class='submit_button submit_button_disabled left' type='submit' value='Sign Up' disabled='disabled' tabindex='13' data-group='js-editable' w2cid='wHUAq3k510' id='__w2_wHUAq3k510_submit' />
                                        </span>
                                    </div>
                                        </div>
                                    </form>
                                </div> -->
                            </div>
                            
                            <!--------------- log in Page ----------------------------------------->
                            <div class='login'>
                            <div id='wHUAq3k519'>
                                <div class='InlineLogin LoggedOutHomeLogin' id='__w2_wHUAq3k520_logged_out_header_login'>
                                    <div class='regular_login'>

                                        <form action=" {% url 'mylogin' %} " class='inline_login_form' method='POST' id='__w2_wHUAq3k520_login_form'>
                                            {% csrf_token %}
                                            <div class='title login_title'>
                                                Login
                                            </div>
                                            <div class='form_inputs'>
                                                <!-- username field -->
                                                <div class='form_column'>
                                                    <input id='username' class='text header_login_text_box ignore_interaction' type='text' name='username' tabindex='1' data-group='js-editable' placeholder='Email' w2cid='wHUAq3k520' required/>
                                                </div>
                                                <!-- name field -->
                                                <div class='form_column'>
                                                    <input id='password' class='text header_login_text_box ignore_interaction' type='password' name='password' tabindex='2' data-group='js-editable' placeholder='Password' w2cid='wHUAq3k520' required/>
                                                </div>
                                                <!-- forgot password field -->
                                                <div class='form_column'>
                                                    <span class='login_options'>
                                                        <a class='forgot_password' href='#' id='__w2_wHUAq3k520_forgot_password_link'>
                                                            Forgot Password?
                                                        </a>
                                                    </span>
                                                    <!-- submit button  -->
                                                    <input class='submit_button ' type='submit' value='Login' tabindex='4' data-group='js-editable' w2cid='wHUAq3k520' id='__w2_wHUAq3k520_submit_button' />
                                                </div>

                                                <!-- if error happens then show this part -->
                                                <div></div>

                                                {% if messages %}

                                                    {% for message in messages %}
                                                        
                                                            <div class='input_validation_error_text' id='msg'>
                                                                {{ message }}   
                                                            </div>                                          
                                    
                                                    {% endfor %}
                                                    
                                                {% endif %}

                                                <!-- <div class='hidden input_validation_error_text' id='__w2_wHUAq3k520_email_not_found_error'>
                                                        No account found for this email. Retry, or 
                                                        <a href='index.html' id='__w2_wHUAq3k520_email_not_found_signup_link'>
                                                            Sign up for Quora.
                                                        </a>
                                                    </div>

                                                    <div class='hidden input_validation_error_text' id='__w2_wHUAq3k520_incorrect_password_error'>
                                                        Incorrect password. 
                                                        <a href='#' id='__w2_wHUAq3k520_reset_password_link'>
                                                            Reset Password
                                                        </a>
                                                    </div>

                                                    <div class='hidden input_validation_error_text' id='__w2_wHUAq3k520_email_password_leak_error'>
                                                    </div> -->

                                                <div class='u-text-align--center u-padding-top--md' id='__w2_wHUAq3k520_reset_password_captcha'>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!-- languages section-bottom -->

                    <!-- <div class='HomepageSignupNetworkRedirectLink' id='__w2_wHUAq3k521_link'>
                    New: 
                    <a class='new_network' href='ar_subdomain/index.html' nav_style='replace' data-nid='21' target='_top'>
                        Arabic
                    </a>, 
                    <a class='new_network' href='he_subdomain/index.html' nav_style='replace' data-nid='22' target='_top'>
                        Hebrew
                    </a>, 
                    <a class='new_network' href='pl_subdomain/index.html' nav_style='replace' data-nid='27' target='_top'>
                        Polish
                    </a>, 
                    <a class='new_network' href='gu_subdomain/index.html' nav_style='replace' data-nid='23' target='_top'>
                        Gujarati
                    </a>, 
                    <a class='new_network' href='kn_subdomain/index.html' nav_style='replace' data-nid='24' target='_top'>
                        Kannada
                    </a>, 
                    <a class='new_network' href='ml_subdomain/index.html' nav_style='replace' data-nid='25' target='_top'>
                        Malayalam
                    </a>, and 
                    <a class='new_network' href='te_subdomain/index.html' nav_style='replace' data-nid='26' target='_top'>
                        Telugu
                    </a>
                    </div> -->
                    
                    <div class='FooterNav'>
                    <ul class='nav_list'>
                        <li class='about'>
                            <a href='index.html'>About</a>
                        </li>
                        <li class='languages'>
                            <a href='index.html'>Languages</a>
                        </li>
                        <li class='careers'>
                            <a href='index.html'>Careers</a>
                        </li>
                        <li class='business'>
                            <a href='index.html'>Businesses</a>
                        </li>
                        <li class='privacy'>
                            <a href='about/privacy.html'>Privacy</a>
                        </li>
                        <li class='tos'>
                            <a href='about/tos.html'>Terms</a>
                        </li>
                        <!-- statement of ownership or authorship documentation or legal notice -->
                        <li class='impressum'>
                            <a href='index.html'>Impressum</a>
                        </li>
                        <li class='feedback'>
                            <a href='index.html'>Contact</a>
                        </li>
                        <li class='copyright'>
                            <br>
                            © Quora Inc. 2020
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

        <script>
            setTimeout(function(){
                if ($('#msg').length > 0) {
                        $("#msg").remove();
                }
            }, 4000);

            // To check wheather or not Jquery is loaded !

            // var myVar;
            // window.onload = function() {
            //     if (window.jQuery) {
            //         alert('jQuery is loaded');
            //     } else {
            //         alert('jQuery is not loaded')};
            // };
        </script>

    </body>

</html>
