{% load static %}


<!DOCTYPE html>

<html lang=en>
    <head>
        <title>Quora - A place to share knowledge and better understand the world</title>
        <meta name='robots' content='noarchive' />
        <link rel='icon' href='' />
        <link rel="stylesheet" href="{% static 'front/css/style3.css' %}">
        
        
        <!-- <style type="text/css" data-idx="1" class="q-inline-css">            
        </style> -->

        
        <!-- <style type="text/css" data-idx="2" class="q-inline-css">
        </style> -->

    </head>

    <body class='web_page logged_out lang_en q_ltr logged_out_page_big_signup'>
        
        <div id='__w2_modal_container_'>
            <div class='modal_overlay hidden' id='__w2_modal_overlay_'>
                <div class='modal_wrapper normal' id='__w2_modal_wrapper_'>
                </div>
            </div>
        </div>
        
        <div id='react_loadable'>
            <div class='hidden'>
            </div>
        </div>
        
        <!-- <script type="text/javascript">
            window.ansFrontendGlobals = window.ansFrontendGlobals || {};
            window.ansFrontendGlobals.data = window.ansFrontendGlobals.data || {};
            window.ansFrontendGlobals.data.inlineQueryResults = window.ansFrontendGlobals.data.inlineQueryResults || {};
            window.ansFrontendGlobals.data.inlineQueryResults.results = {'6c91756042df51ec44f2af3fb10a6b69d1394150560dbcab9511a7bebd2b4324': '{"data":{"viewer":{"id":"Vmlld2VyQDA6MA==","__typename":"Viewer","user":null,"tribeWallInfo":null,"repeatOffenders":null},"network":{"id":"TmV0d29yazow","__typename":"Network","quoraPolicyLinkUrl":"https://www.quora.com/What-are-the-major-policies-and-guidelines-on-Quora","editBlockLinkUrl":"https://www.quora.com/What-does-it-mean-to-be-edit-blocked-or-banned-on-Quora/answer/Quora"},"nux":null,"activationWall":null,"followTribeWallDeck":null}}'};
            window.ansFrontendGlobals.data.inlineQueryResults.next && window.ansFrontendGlobals.data.inlineQueryResults.next();
        </script> -->

        <script type="text/javascript">
            window.inlineReact('react_loadable',{"data":{"viewer":{"id":"Vmlld2VyQDA6MA==","__typename":"Viewer","user":null,"tribeWallInfo":null,"repeatOffenders":null},"network":{"id":"TmV0d29yazow","__typename":"Network","quoraPolicyLinkUrl":"https://www.quora.com/What-are-the-major-policies-and-guidelines-on-Quora","editBlockLinkUrl":"https://www.quora.com/What-does-it-mean-to-be-edit-blocked-or-banned-on-Quora/answer/Quora"},"nux":null,"activationWall":null,"followTribeWallDeck":null}},{},null);
        </script><div class='ContentWrapper'>
            
        <div id='__w2_wHUAq3k59_content'>
            <div class='bg_container'>
                <div class='bg_image'>
                    <img src="{% static 'front/img/bgimage.png' %}" alt="">
                </div>
            </div>
            <div class='HomePageSignupForm BaseSignupForm continue_with_text'>
                <!-----------------------Network Logo --------------------------->
                <div class='NetworkLogo' >
                    <a href='index.html'>
                        <img src="{% static 'front/img/quoralogo2.png' %}" alt=""  style="height: 190px; width: 200px; margin-top: -50px;">
                    </a>
                </div>

                <h2 class='NetworkLogoTagline tagline'>A place to share knowledge and better understand the world<h2>
                
                <div class='container' id='__w2_wHUAq3k510_actionable'>
                    <div class='content_inner'>
                        <div class='signup_login'>
                            <div class='signup'>
                                <div id='__w2_wHUAq3k510_initial_signup_column'>
                                    <div class='connect_buttons_row'>

                                        <!-- Sign in with google button -->
                                        <div>
                                            <span data-clog-trigger='impression' data-clog-metadata='{&quot;action_log_target&quot;: {&quot;type&quot;: 43, &quot;hash&quot;: &quot;googleConnectButton|hCqYDPvsJBGH-i9StitvTA==_1592630125820242&quot;}}' data-clog-event-type='ActionLogImpression' id='__w2_wHUAq3k516_actionable'>
                                                
                                                <a class='google_button submit_button' href='#' tabindex='5' action_mousedown='SignupGoogleClick' action_stop_propagation='True' id='__w2_wHUAq3k516_google_connect_button'>
                                                    <span class='google_button_text'>Continue with Google</span>
                                                </a>
                                            </span>
                                        </div>

                                        <!-- Sign in with facebook -->
                                        <div>
                                            <span data-clog-trigger='impression' data-clog-metadata='{&quot;action_log_target&quot;: {&quot;type&quot;: 43, &quot;hash&quot;: &quot;facebookConnectButton|hCqYDPvsJBGH-i9StitvTA==_1592630125820242&quot;}}' data-clog-event-type='ActionLogImpression' id='__w2_wHUAq3k517_actionable'>
                                                
                                                <a class='facebook_button submit_button' href='#' tabindex='6' action_mousedown='SignupFacebookClick' action_stop_propagation='True' id='__w2_wHUAq3k517_facebook_connect_button'>
                                                    
                                                    <span class='facebook_button_text'>Continue with Facebook    
                                                    </span>
                                                </a>
                                            </span>
                                            
                                        </div>
                                    </div>

                                    <div id='__w2_wHUAq3k510_connect_explanation' style="padding-left: 10px;">
                                        <br>
                                        <a class='signup_email_link' href='#' tabindex='9' id='__w2_wHUAq3k510_continue_with_email'>
                                            Sign Up With Email
                                        </a>
                                        <span class='tos_disclaimer'>. 
                                            <span class='light_gray TosDisclaimer'>
                                                By signing up you indicate that you have read and agree to Quora&#039;s 
                                                <a class='tos_link' href='about/tos.html' nav_style='modal_present' target='_blank' rel='noopener'>
                                                    Terms of Service
                                                </a> 
                                                and 
                                                <a class='tos_link' href='about/privacy.html' nav_style='modal_present' target='_blank' rel='noopener'>
                                                    Privacy Policy
                                                </a>.
                                            </span>
                                        </span>
                                    </div>
                                </div>

                            
                            </div>
                            
                            <!--------------- log in Page ----------------------------------------->
                            <div class='login'>
                                <div id='wHUAq3k519'>
                                    <div class='InlineLogin LoggedOutHomeLogin' id='__w2_wHUAq3k520_logged_out_header_login'>
                                        <div class='regular_login'>

                                            <form action="{% url 'myregister' %}" method='post' id='__w2_wHUAq3k510_home_page_email_signup_form'>
                                                {% csrf_token %}
                                                <div class='title login_title'>
                                                    Sign Up
                                                </div>
                                                <div class='w2_5'>
                                                    <div class='row'>
                                                        <div class='EmailSignupForm'>
                                                            <div class='stacked_form e_col p1' 
                                                            id='__w2_wHUAq3k514_email_signup_form'>
                                                                <!-- name -->
                                                                <div class='form_row'>
                                                                    <label>Name</label>
                                                                    <div class='input_wrapper'>
                                                                        <input class='text' type='text' name='name' id="name" tabindex='11' data-group='js-editable' w2cid='wHUAq3k514' />    
                                                                    </div>
                                                                </div>
                                                                <!-- username  -->
                                                                <div class='form_row'>
                                                                    <label>Username</label>
                                                                    <div class='input_wrapper'>
                                                                        <input class='text' type='text' name='username' id="username" tabindex='11' data-group='js-editable' w2cid='wHUAq3k514' />    
                                                                    </div>
                                                                </div>
                                                                <!-- email -->
                                                                <div class='form_row'>
                                                                    <label>Email</label>
                                                                    <div class='input_wrapper'>
                                                                        <input class='text' type='text' name='email' id="email" tabindex='11' data-group='js-editable' w2cid='wHUAq3k514' />    
                                                                    </div>
                                                                </div>
                                                                <!-- password -->
                                                                <div class='form_row'>
                                                                    <label>Password</label>
                                                                    <div class='input_wrapper' style="margin-top: -15px;">
                                                                        <input class='password' type='password' name='password' id="password" tabindex='11' data-group='js-editable' w2cid='wHUAq3k514' />    
                                                                    </div>
                                                                </div>
                                                                <!-- confirm password -->
                                                                <div class='form_row'>
                                                                    <label>Confirm Password</label>
                                                                    <div class='input_wrapper' style="margin-top: -15px;">
                                                                        <input class='password' type='password' name='confirm_password' id="confirm_password" tabindex='11' data-group='js-editable' w2cid='wHUAq3k514' />    
                                                                    </div>
                                                                </div>

                                                                <!-- forgot password field -->
                                                                <div class='form_column'>
                                                                    
                                                                    <!-- submit button  -->
                                                                    <input class='submit_button ' type='submit' value='Sign Up' tabindex='4' data-group='js-editable' w2cid='wHUAq3k520' id='__w2_wHUAq3k520_submit_button' />

                                                                </div>
                                                            </div>

                                                            {% if messages %}

                                                                {% for message in messages %}
                                                                    
                                                                        <div class='input_validation_error_text' id='msg'>
                                                                            {{ message }}   
                                                                        </div>                                          
                                                
                                                                {% endfor %}
                                                                
                                                            {% endif %}
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class='hidden input_validation_error_text' id='__w2_wHUAq3k510_email_password_leak_error'>
                                                </div> -->
                                            
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <!-- languages section-bottom -->

                    <!-- <div class='HomepageSignupNetworkRedirectLink' id='__w2_wHUAq3k521_link'>
                    New: 
                    <a class='new_network' href='ar_subdomain/index.html' nav_style='replace' data-nid='21' target='_top'>
                        Arabic
                    </a>, 
                    <a class='new_network' href='he_subdomain/index.html' nav_style='replace' data-nid='22' target='_top'>
                        Hebrew
                    </a>, 
                    <a class='new_network' href='pl_subdomain/index.html' nav_style='replace' data-nid='27' target='_top'>
                        Polish
                    </a>, 
                    <a class='new_network' href='gu_subdomain/index.html' nav_style='replace' data-nid='23' target='_top'>
                        Gujarati
                    </a>, 
                    <a class='new_network' href='kn_subdomain/index.html' nav_style='replace' data-nid='24' target='_top'>
                        Kannada
                    </a>, 
                    <a class='new_network' href='ml_subdomain/index.html' nav_style='replace' data-nid='25' target='_top'>
                        Malayalam
                    </a>, and 
                    <a class='new_network' href='te_subdomain/index.html' nav_style='replace' data-nid='26' target='_top'>
                        Telugu
                    </a>
                    </div> -->
                    
                    <div class='FooterNav'>
                        <ul class='nav_list'>
                            <li class='about'>
                                <a href='index.html'>About</a>
                            </li>
                            <li class='languages'>
                                <a href='index.html'>Languages</a>
                            </li>
                            <li class='careers'>
                                <a href='index.html'>Careers</a>
                            </li>
                            <li class='business'>
                                <a href='index.html'>Businesses</a>
                            </li>
                            <li class='privacy'>
                                <a href='about/privacy.html'>Privacy</a>
                            </li>
                            <li class='tos'>
                                <a href='about/tos.html'>Terms</a>
                            </li>
                            <!-- statement of ownership or authorship documentation or legal notice -->
                            <li class='impressum'>
                                <a href='index.html'>Impressum</a>
                            </li>
                            <li class='feedback'>
                                <a href='index.html'>Contact</a>
                            </li>
                            <li class='copyright'>
                                <br>
                                © Quora Inc. 2020
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

        <script>

            setTimeout(function(){
                if ($('#msg').length > 0) {
                        $("#msg").remove();
                }
            }, 4000);
        </script>

    </body>

</html>
