{% extends 'front/master.html' %}

{% load static %}



{% block detail-head-references %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>OSRU - News, Blog & Magazine HTML Template</title>
<link href="{% static 'front/img/favicon.png'%}" rel="icon">
<link href="{% static 'front/css/bootstrap.min.css'%}" rel="stylesheet">
<link href="{% static 'front/css/animsition.min.css'%}" rel="stylesheet">
<link href="{% static 'front/css/font-awesome.min.css'%}" rel="stylesheet">
<link href="{% static 'front/themify-icons/themify-icons.css'%}" rel="stylesheet">
<link href="{% static 'front/css/bootsnav.css'%}" rel="stylesheet">
<link href="{% static 'front/owl-carousel/owl.carousel.css'%}" rel="stylesheet">
<link href="{% static 'front/owl-carousel/owl.theme.css'%}" rel="stylesheet">
<link href="{% static 'front/owl-carousel/owl.transitions.css'%}" rel="stylesheet">
<link href="{% static 'front/css/magnific-popup.css'%}" rel="stylesheet">
<link href="{% static 'front/css/fluidbox.min.css'%}" rel="stylesheet">
<link href="{% static 'front/css/style.css'%}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}



{% block detail-main-posts %}

<main class="col-sm-8 col-md-9 content p_r_40">
    <div class="details-body">


        <div class="post_details stickydetails">

            <div class="page-content">
                <div class="middle-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="error-text">
                                <h1>4<span class="error bounce">0</span><span>4</span></h1>
                                <h3><span>Page</span><br class="hidden-xs"> Not Found</h3>
                            </div>
    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="error-desc">
                                {% if messages %}
                                {% for message in messages %}
                                <p>{{message}}</p>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.End of post details -->


    </div>
    <!-- /.End of details body -->


</main>


{% endblock %}



{% block detail-bottom-scripts %}

<script data-cfasync="false" src="{% static 'front/cloudflare-% static/email-decode.min.js' %}"></script><script src="{% static 'front/js/jquery.min.js' %}"></script>
<script src="{% static 'front/js/bootstrap.min.js' %}"></script>
<script src="{% static 'front/js/animsition.min.js' %}"></script>
<script src="{% static 'front/js/bootsnav.js'%}"></script>
<script src="{% static 'front/js/macy.js' %}"></script>
<script src="{% static 'front/js/imagesloaded.pkgd.min.js'%}"></script>
<script src="{% static 'front/js/ResizeSensor.min.js'%}"></script>
<script src="{% static 'front/js/theia-sticky-sidebar.min.js'%}"></script>
<script src="{% static 'front/js/jquery.magnific-popup.min.js'%}"></script>
<script src="{% static 'front/owl-carousel/owl.carousel.min.js'%}"></script>
<script src="{% static 'front/js/modernizr.custom.js'%}"></script>
<script src="{% static 'front/js/jquery.gridrotator.min.js'%}"></script>
<script src="{% static 'front/js/parallax-background.min.js'%}"></script>
<script src="{% static 'front/js/jquery.simpleSocialShare.min.js'%}"></script>
<script src="{% static 'front/js/jquery.fluidbox.min.js'%}"></script>
<script src="{% static 'front/js/retina.min.js'%}"></script>
<script src="{% static 'front/js/jquery.shuffle.min.js'%}"></script>
<script src="{% static 'front/js/readingTime.min.js'%}"></script>
<script src="{% static 'front/js/custom.js' %}"></script>

{% endblock %}
