{% extends 'front/master.html' %}

{% load static %}

{% block home-head-references %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>OSRU - News, Blog & Magazine HTML Template</title>
<link href="{% static 'front/img/favicon.png' %}" rel="icon">
<link href="{% static 'front/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'front/css/animsition.min.css' %}" rel="stylesheet">
<link href="{% static 'front/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'front/themify-icons/themify-icons.css' %}" rel="stylesheet">
<link href="{% static 'front/css/bootsnav.css' %}" rel="stylesheet">
<link href="{% static 'front/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
<link href="{% static 'front/owl-carousel/owl.theme.css' %}" rel="stylesheet">
<link href="{% static 'front/owl-carousel/owl.transitions.css' %}" rel="stylesheet">
<link href="{% static 'front/css/magnific-popup.css' %}" rel="stylesheet">
<link href="{% static 'front/css/fluidbox.min.css' %}" rel="stylesheet">
<link href="{% static 'front/css/style.css' %}" rel="stylesheet">

{% endblock %}





{% block home-title-posts %}

 <!-- Title-Post-Boxes -->
 <div class="news-masonry">
    <div class="container">
        <div class="row mas-m">
            <!-- Title Main-Post -->
            {% for i in masonryhome %}
            {% if i.position == "Main" %}
            <div class="col-sm-6 mas-p">
                <div class="mas-item mas-big">
                    <a href="{% url 'news_detail' name=i.name cat=i.catname %}"><figure><img src="{{i.picurl}}" class="img-responsive" alt="" style="width: 100%; height: 100%; object-fit: cover; object-position: center center;"></figure></a>
                    <div class="mas-text">
                        <div class="post-cat"><a href="{% url 'news_section' name=i.catname %}">{{i.catname}}</a></div>
                        <h2 class="mas-title"><a href="{% url 'news_detail' name=i.name cat=i.catname %}">{{i.name}}</a></h2>
                        <div class="mas-details">
                            
                            <p>{{i.intro_text}}</p>
                            
                            <a href="{% url 'news_detail' name=i.name cat=i.catname %}" class="read-more">Read More &#8702;</a>
                        </div>
                    </div>
                </div> 
            </div>
            {% endif %}
            {% endfor %}
            
            <!-- Title Post seconadary-Boxes -->
            <div class="col-sm-6 mas-p">
                <!-- top-two-boxes -->
                <div class="row mas-m">
                    <!-- Top-left-box -->
                    <div class="col-xs-6 col-sm-6 mas-p">
                        <div class="masonry-slide1 owl-carousel owl-theme">
                            <!-- First -->
                            {% for i in masonryhome %}
                            {% if i.position == "Top_Left" %}
                            <div class="item mas-m-b">
                                <div class="mas-item masonry-sm">
                                    <a href="{% url 'news_detail' name=i.name cat=i.catname %}"><figure><img src="{{i.picurl}}" class="img-responsive" alt="" style="width: 100%; height: 100%; object-fit: cover; object-position: center center;"></figure></a>
                                    <div class="mas-text">
                                        <div class="post-cat"><a href="{% url 'news_section' name=i.catname %}">{{i.catname}}</a></div>
                                        <h4 class="mas-title"><a href="{% url 'news_detail' name=i.name cat=i.catname %}">{{i.name}}</a></h4>
                                        <div class="mas-details">
                                            <a href="{% url 'news_detail' name=i.name cat=i.catname %}" class="read-more">Read More &#8702;</a>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- top-right-Box -->
                    <div class="col-xs-6 col-sm-6 mas-p">
                        <div class="masonry-slide2 owl-carousel owl-theme">
                            <!-- first -->
                            {% for i in masonryhome %}
                            {% if i.position == "Top_Right" %}
                            <div class="item">
                                <div class="mas-item masonry-sm">
                                    <a href="{% url 'news_detail' name=i.name cat=i.catname %}"><figure><img src="{{i.picurl}}" class="img-responsive" alt="" style="width: 100%; height: 100%; object-fit: cover; object-position: center center;"></figure></a>
                                    <div class="mas-text">
                                        <div class="post-cat"><a href="{% url 'news_section' name=i.catname %}">{{i.catname}}</a></div>
                                        <h4 class="mas-title"><a href="{% url 'news_detail' name=i.name cat=i.catname %}">{{i.name}}</a></h4>
                                        <div class="mas-details">
                                            <a href="{% url 'news_detail' name=i.name cat=i.catname %}" class="read-more">Read More &#8702;</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- bottom-two-boxes -->
                <div class="hidden-xs row mas-m">
                    <!-- bottom-left-box -->
                    <div class="col-sm-6 mas-p">
                        <div class="masonry-slide3 owl-carousel owl-theme">
                            <!-- first -->
                            {% for i in masonryhome %}
                            {% if i.position == "Bottom_Left" %}
                            <div class="item">
                                <div class="mas-item masonry-sm">
                                    <a href="{% url 'news_detail' name=i.name cat=i.catname %}"><figure><img src="{{i.picurl}}" class="img-responsive" alt="" style="width: 100%; height: 100%; object-fit: cover; object-position: center center;"></figure></a>
                                    <div class="mas-text">
                                        <div class="post-cat"><a href="{% url 'news_section' name=i.catname %}">{{i.catname}}</a></div>
                                        <h4 class="mas-title"><a href="{% url 'news_detail' name=i.name cat=i.catname %}">{{i.name}}</a></h4>
                                        <div class="mas-details">
                                            <a href="{% url 'news_detail' name=i.name cat=i.catname %}" class="read-more">Read More &#8702;</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- bottom-right-box -->
                    <div class="col-sm-6 mas-p">
                        <div class="masonry-slide4 owl-carousel owl-theme">
                            <!-- first -->
                            {% for i in masonryhome %}
                            {% if i.position == "Bottom_Right" %}
                            <div class="item">
                                <div class="mas-item masonry-sm">
                                    <a href="{% url 'news_detail' name=i.name cat=i.catname %}"><figure><img src="{{i.picurl}}" class="img-responsive" alt="" style="width: 100%; height: 100%; object-fit: cover; object-position: center center;"></figure></a>
                                    <div class="mas-text">
                                        <div class="post-cat"><a href="{% url 'news_section' name=i.catname %}">{{i.catname}}</a></div>
                                        <h4 class="mas-title"><a href="{% url 'news_detail' name=i.name cat=i.catname %}">{{i.name}}</a></h4>
                                        <div class="mas-details">
                                            <a href="{% url 'news_detail' name=i.name cat=i.catname %}" class="read-more">Read More &#8702;</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <!-- /.End of masonry item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}




{% block home-main-posts %}

<main class="col-xs-12 col-sm-8 col-md-9 content p_r_40">



    {% for i in category %}
    <div class="category-holder style1">
        <div class="title-holder2">
            <h3>{{i.name}}</h3>
        </div>
        <!--  /.End of title -->
        <div class="row">
            <div class="col-sm-6">
                {% for j in featuredhome %}
                {% if i.name == j.catname %}
                <article class="grid_post">
                    <figure>
                        <a href="{% url 'news_detail' name=j.name cat=j.catname %}" class="grid_image"><img src="{{j.picurl}}" class="img-responsive" alt="" style="width: 100%; height: auto;"></a>
                        <figcaption>
                            <!--<div class="post-cat"><a href="#">Fashion</a></div>-->
                            <div class="entry-meta">
                                <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time>{{j.date}}</time></span> 
                                <span class="comment-link"><a href="{% url 'home' %}"> |&nbsp;&nbsp; DonutScroll</a></span>
                            </div>
                            <h4 class="grid_post_title"><a href="{% url 'news_detail' name=j.name cat=j.catname %}">{{j.name}}</a></h4>
                            <p>{{j.intro_text}}</p>
                            <!-- /.Post button -->
                        </figcaption>
                    </figure>
                </article>
                {% endif %}
                {% endfor %}
                <!-- /.End of grid post -->
            </div>
            <div class="col-sm-6">
                {% for k in featured_home_general %}
                {% if i.name == k.catname %}
                <div class="media latest_post">
                    <a class="media-left" href="{% url 'news_detail' name=k.name cat=k.catname %}">
                        <img src="{{k.picurl}}" class="media-object" alt="">
                    </a>
                    <div class="media-body">
                        <h6 class="media-heading"><a href="{% url 'news_detail' name=k.name cat=k.catname %}">{{k.name}}</a></h6>
                        <div class="entry-meta">
                            <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time>{{k.date}}</time></span> 
                            <span class="comment-link"><a href="{% url 'home' %}"> |&nbsp;&nbsp; DonutScroll</a></span>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

        
            </div>
        </div>
    </div>
    {% endfor %}
    
    <!-- <div id="macy-container" class="grid-masonry">
        <article class="grid_post card-post">
            <figure>
                <a href="#" class="grid_image">
                    <img src="assets/img/950x1312-2.jpg" class="img-responsive" alt="">
                </a>
                <figcaption>
                    <div class="post-cat"><a href="#">Fashion</a></div>
                    <h4 class="grid_post_title"><a href="#">There are <em>many variations</em> of passages of Lorem Ipsum</a></h4>
                    <div class="entry-meta">
                        <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time> </span> 
                        <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                    </div>
                </figcaption>
            </figure>
        </article>
        <article class="grid_post card-post">
            <figure>
                <a href="#" class="grid_image">
                    <img src="assets/img/950x654-3.jpg" class="img-responsive" alt="">
                </a>
                <figcaption>
                    <div class="post-cat"><a href="#">Foods</a></div>
                    <h4 class="grid_post_title"><a href="#">Aenean consectetur justo et finibus ornare.</a></h4>
                    <div class="entry-meta">
                        <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time> </span> 
                        <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                    </div>
                </figcaption>
            </figure>
        </article>
        <article class="grid_post card-post">
            <figure>
                <a href="#" class="grid_image">
                    <img src="assets/img/950x654-4.jpg" class="img-responsive" alt="">
                </a>
                <figcaption>
                    <div class="post-cat"><a href="#">Travel</a></div>
                    <h4 class="grid_post_title"><a href="#">Pellentesque nec lectus nec ante laoreet ornare.</a></h4>
                    <div class="entry-meta">
                        <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time> </span> 
                        <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                    </div>
                </figcaption>
            </figure>
        </article>
    </div> -->
    
</main>

{% endblock %}




{% block home-bottom-scripts %}

<script data-cfasync="false" src="{% static 'front/cloudflare-static/email-decode.min.js' %}"></script><script src="{% static 'front/js/jquery.min.js' %}"></script>
<script src="{% static 'front/js/bootstrap.min.js' %}"></script>
<script src="{% static 'front/js/animsition.min.js' %}"></script>
<script src="{% static 'front/js/bootsnav.js' %}"></script>
<script src="{% static 'front/js/macy.js' %}"></script>
<script src="{% static 'front/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'front/js/ResizeSensor.min.js' %}"></script>
<script src="{% static 'front/js/theia-sticky-sidebar.min.js' %}"></script>
<script src="{% static 'front/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'front/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'front/js/modernizr.custom.js' %}"></script>
<script src="{% static 'front/js/jquery.gridrotator.min.js' %}"></script>
<script src="{% static 'front/js/parallax-background.min.js' %}"></script>
<script src="{% static 'front/js/jquery.simpleSocialShare.min.js' %}"></script>
<script src="{% static 'front/js/jquery.fluidbox.min.js' %}"></script>
<script src="{% static 'front/js/retina.min.js' %}"></script>
<script src="{% static 'front/js/jquery.shuffle.min.js' %}"></script>
<script src="{% static 'front/js/readingTime.min.js' %}"></script>
<script src="{% static 'front/js/custom.js' %}"></script>
<script>
    $(document).ready(function () {
        'use strict';
        //Grid content 
        var masonry = new Macy({
            container: '.grid-content',
            trueOrder: false,
            waitForImages: false,
            useOwnImageLoader: false,
            debug: true,
            mobileFirst: true,
            columns: 1,
            margin: 30,
            breakAt: {
                1200: 2,
                992: 2,
                768: 2,
                480: 2
            }
        });
    });
</script>

{% endblock %}





